<div style="width: 410px; margin-bottom: 10px; float: left; "> 
    <div style="float: left; width: 160px; text-align: center">
        <img src="<%= filme.poster_med %>" alt="" style="max-width: 150px;" />
    </div>
    <div style="float:left; width: 250px">
        <p style="color: #C3DBF5; font-size: 20px; font-weight: bold; margin: 0px; padding: 0px; padding-bottom: 5px;"><%= filme.title %>(<%= filme.year %>)</p>
        <p style="color: #C3DBF5; font-size: 18px; font-weight: bold; margin: 0px; padding: 0px; padding-bottom: 5px;">Pontua&ccedil;&atilde;o: <%= filme.rating %></p>
        <p style="font-size: 14px; margin:0px; padding: 0px; "><%= filme.description %></p>
    </div>
    <div style="clear:both"></div>
</div>